.header

.chat-side
   

  .side-header
    .side-header_box
      text-name
    .side-hesder_box_new
    =link_to "https://www.facebook.com/", class: "contents__btn contents__btn--facebook" do
      = fa_icon 'edit', class: "contents__btn--icon"
    =link_to "https://www.facebook.com/", class: "contents__btn contents__btn--facebook" do
      = fa_icon 'cog', class: "contents__btn--icon"
 

  .group
    samle

.chat-main

  .main-header
    samle
    .main-header_edit-btn
      Edit
  

  .messages
    sss 
    hello
   

  .form
    .input-box
      
    .input-box_text
      type a messages
    .input-box_imege
    =link_to "https://www.facebook.com/", class: "contents__btn contents__btn--facebook" do
      = fa_icon 'imege', class: "contents__btn--icon"
      
    
    
    .submit-btn 
      Send
      